.menu-cart-search {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-desktop {
    display: none;
}

.cart {
    position: relative;
    padding: 5px;
    cursor: pointer;
}

.cont__products {
    position: absolute;
    top: -2px;
    right: -4px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__container {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.menu__hamb {
    width: 40px;
    height: 40px;
    background-image: url("../../assets/menu-closet.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.menu__hamb--open {
    background-image: url("../../assets/menu-open.svg");
}

.menu__container--open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--color-gray-3);
    background-color: white;
    margin-top: 70px;
    height: 100vh;
    padding: 20px;
}


@media screen and (min-width: 955px) {
    .menu__hamb {
        display: none;
    }

    .menu__container {
        display: block;
    }

    .menu {
        flex-direction: row;
        height: auto;
        margin-bottom: 0;
    }

    .menu li {
        cursor: pointer;
    }

    .search-mobile {
        display: none;
    }

    .search-desktop {
        display: flex;
    }
}
